*{
    margin:0px;
    padding:0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper{
    width:970px;
    margin:auto;
    background-color: #dddfd4;
    padding:15px;
}

.header{
    background-color: #38b0ad;
    padding:10px;
    margin-bottom:15px;
}

.header div{
    display: inline-block;
}

.header img{
    width:40px;
    vertical-align: top;
}

.header h1{
    display: inline-block;
    font-weight: normal;
}

.header .menu{
    margin-left:225px;
    height:40px;
    vertical-align: top;
    line-height: 40px;
}

.header .menu a{
    color:white;
    margin-right: 10px;
    font-size:12px;
}

.main-content{
    background-color: #fbe691;
    color:white;
    padding:15px;
}

.main-content a{
    text-decoration: none;
    color:#4ddccb;
}

.main-content .side-bar{
    display: inline-block;
    width:220px;
    padding:15px 8px 15px 8px;
    background-color:#153f43;
}

.main-content .side-bar h2{
    font-weight: normal;
}

.main-content .side-bar p{
    font-size: 14px;
    padding:10px;
}

.main-content .sub-content{
    display: inline-block;
    vertical-align: top;
    width:665px;
    margin-left:30px;
}

.main-content .sub-content div{
    padding:10px 10px 20px 10px;
}

.main-content .sub-content h3{
    font-weight:normal;
    margin-bottom:10px;
}

.main-content .sub-content p{
    font-size: 14px;
    padding:0px 10px 0px 10px;
}

.main-content .sub-content .sub-content-top div,
.main-content .sub-content .sub-content-middle div,
.main-content .sub-content .sub-content-bottom div{
    background-color:#153f43;
}

.main-content .sub-content .sub-content-top div{
    display: inline-block;
    vertical-align: top;
    width:160px;
    height:133px;
}

.main-content .sub-content .sub-content-top{
    padding-top:0px;
}
.main-content .sub-content .sub-content-middle div{
    width:273px;
    display: inline-block;
}

.main-content .sub-content .add{
    margin:0px 40px 0px 40px;
}

.main-content .sub-content .remote{
    margin-left:40px;
}

.main-content .sub-content .sub-content-bottom div{
    width:613px;
}

.footer{
    margin-top:8px;
    text-align: center;
    height:60px;
    background-color: #38b0ad;
    line-height: 60px;
}
